html {
    scroll-behavior: smooth;}

/* Background color for body */
body {
    background-color: rgba(72, 142, 223, 0.849);}

/* Carousel Styling */
#carouselSlides{text-align: center;}

.d-block.w-100{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;}

/*  */
#title_frontpage{text-align: center;}

#header_pic{
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    height: 150px;}

/* #dark_mode{
    margin-left: 10px; 
    background-color: #212529cf;}

#reset_dark_mode{
    margin-left: 5px;} */

#header{
    margin-bottom: 25px;}

/* Styling for Shortcuts Button */
#dropdownMenuButton{
    background-color: rgb(245, 117, 43);
}

.dropdown-menu.show{
    background-color: rgb(245, 117, 43);
}

/* Change color of text  */
.dropdown-menu.show a{
    color: white;
}

/* dropdown menu links, on hover */
.dropdown-menu.show a:hover{
    background-color: rgba(243, 138, 18, 0.753);
}

/* Class for all Text Headers */
.header_for_graph{text-align: center;}

/* Plotly Stats Filter Table */

#statBarGraph{
    margin-top: 20px;}

#statsList option{
    margin-left: auto; 
    margin-right: auto;}

/* Tabulator Table */

#positionFilterContainer{
    text-align: center;
    padding-bottom: 50px;
}

#priceFilterContainer{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:center;}

#priceFilter{
    width: 300px;}

#priceFilterButton{
    width: 150px;}

/* Player Filter */

#playerBarChart{
    background-color: white;
    /* Display None to Hide Canvas Tag */
    display: none;
    margin-top: 20px;}

/* Compare Player Graph */

#compare_player_div{text-align: center;}

#comparePlayerGraph{
    background-color: white;
    margin-top: 20px;
/* Display None to Hide Canvas Tag */
    display: none;
}

.btn.btn-primary.filterbutton{
    margin-top: 10px;}

#scatter_plot{
    background-color: white;
    margin-top: 20px;
    /* Display None to Hide Canvas Tag */
    display: none;
}

#scatter_plot2{
    background-color: white;
    margin-top: 20px;
    /* Display None to Hide Canvas Tag */
    display: none;
    }

#statBarGraph{
    background-color: white;
    margin-top: 20px;
    /* Display None to Hide Canvas Tag */
    display: none;
    }

#scatterPlotbyPosition_Price{
    background-color: white;
    margin-top: 20px;
    /* Display None to Hide Canvas Tag */
    display: none;
    }


/* Footer */
footer li {list-style-type: none;}

/* Back to top Button Styling */
footer li #back_to_top {bottom: 0px; position: fixed; margin-left: 15px; margin-bottom: 5px; background-color: rgb(214, 241, 57);}

footer li #back_to_top a {color: black;}

@media only screen and (max-width: 990px){
    #back_to_top {margin-left: 0px !important;}
}

/* ALL CONTAINERS */
.container{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align:center;}

.container-fluid{
    margin-bottom: 100px;
    margin-top: 100px;
    width: 90%;
    background-color: rgba(72, 142, 223, 0.99);
}

.containerHeadertext{
    text-align: center;
    color: white;
    size: 30px;
    margin-bottom: 30px;
    font-family: "Segoe UI";}

.container-text{
    text-align: center;
    size: 20px;
    font-family: "Segoe UI";
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}

canvas{
    display: block;
    /* height: 750px;
    width: 1100px; */
    margin: auto;
}

/* Adjusts size of chart accordingly */
.container-chart {
    position: relative;
    margin: auto;
    height: 100vh;
    width: 75vw;
  }
  
  /* Samsung Mobile Styling */

@media only screen and (max-width: 990px) {
    /* #comparePlayerGraph{height: 550px !important;} */

    #priceFilter{width: 500px;
        font-size: 30px;}
    
    .btn.btn-primary.filterbutton{width: 375px !important;
        font-size: 27px;}
    
    select{width: 50%;
        font-size: 26px;
        text-align: center;}
    
    .select2.select2-container.select2-container--default{width: 50%;
        font-size: 26px;
        /* height: 35px !important; */
    }
    
    .select2-selection.select2-selection--single{height: 35px !important;}
    
    .btn.btn-primary{width: 15%;
        font-size: 24px;}
    
    #dropdownMenuButton{width: 100%;}

    .dropdown-menu.show{
        background-color: rgb(245, 117, 43);
    }

    .dropdown-menu.show a{
        font-size: 25px;
        padding-top: 25px;
        color: white;

    }

    .dropdown-menu.show a:hover{
        background-color: rgba(250, 250, 250, 0.753);

    }

    canvas{
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }

    .container-chart {
        position: relative;
        margin: auto;
        height: 40vh;
        width: 75vw;}

    .container{
        width: 100%;
    }

}

.grid-container{
    background-color: rgba(72, 142, 223, 0.99);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2 fr ;
    /* grid-template-areas: "header header"; */
}

.grid-item-1{
    /* grid-area: header; */
    text-align: center;
}

.grid-item-2{
    text-align: center;
}

#holds_player_match_stats{
    display:grid;
    grid-template-columns: 3fr 3fr;
}

.grid-item-3{
    text-align: center;
    
}

.grid-container div{
    background-color: rgba(72, 142, 223, 0.99);
    border-color: black;
    text-align: center;
    color: white;
    
}

#match_stats_player_name{
    font-size: 30px;
}

#match_stats_player_name2{
    font-size: 30px;
}