body {background-color: rgba(72, 142, 223, 0.849);}

/* Carousel Styling */
#carouselExampleSlidesOnly{text-align: center;}

.d-block.w-100{margin-left: auto;
margin-right: auto;
padding-bottom: 50px;}

/*  */
#title_frontpage{text-align: center;}

#header_pic{margin-left: auto; margin-right: auto; display: block; height: 150px;}

#dark_mode{margin-left: 10px; background-color: #212529cf;}
#reset_dark_mode{margin-left: 5px;}

#header{margin-bottom: 25px;}


/* Class for all Text Headers */
.header_for_graph{text-align: center;}

/* Plotly Stats Filter Table */

#statBarGraph{margin-top: 20px;}

#statsList option{margin-left: auto; margin-right: auto;}

/* Tabulator Table */

#positionFilterContainer{
    text-align: center;
    padding-bottom: 50px;
}

#priceFilterContainer{margin-top: 25px;
margin-bottom: 25px;
padding-top: 10px;
padding-bottom: 10px;
text-align:center;}

#priceFilter{width: 300px;}

#priceFilterButton{width: 150px;}

/* Player Filter */

#playerBarChart{background-color: white;
    /* Display None to Hide Canvas Tag */
    display: none;
    margin-top: 20px;}

/* Compare Player Graph */

#compare_player_div{text-align: center;}

#comparePlayerGraph{background-color: white;
margin-top: 20px;
/* Display None to Hide Canvas Tag */
display: none;
}

.btn.btn-primary.filterbutton{margin-top: 10px;}


/* Samsung Mobile Styling */

@media only screen and (max-width: 990px) {
    #comparePlayerGraph{height: 550px !important;}
}

/* ALL CONTAINERS */
.container{
    /* border: solid rgba(209, 217, 226, 0.89) 2px; */
    /* border-radius: 20px; */
    margin-bottom: 75px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align:center;}

.containerHeadertext{text-align: center;
color: white;
size: 30px;
margin-bottom: 30px;
font-family: "Segoe UI";}